html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.landing-grid {
    background: #833ab4;
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolioImage {
    border-radius: 60%;
    width: 250px;
    height: 350px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.aboutInfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.aboutText {
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.contactBoxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.contactInfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: black;
    opacity: .8;
    width: 45%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spanText {
    text-decoration: underline;
    font-weight: bold;
}

.contactHead {
    font-size: 26px;
}
.contactText {
    font-size: 20px;
}

.contactResume {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    background-color: black;
    opacity: .8;
    width: 45%;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resumeText {
    margin-bottom: 5px;
    font-size: 20px;
}

.resumeImg {
   margin-top: 5px;
}

.socialIcons {
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.linkedin:hover {
    opacity: .9;
}

@media (max-width: 400px) {
    .aboutInfo {
        width: 350px;
    }

    .contactBoxes {
        flex-direction: column;
    }

    .contactInfo {
        width: 350px;
        margin-bottom: 50px;
        margin-left: 5px;
    }

    .contactResume {
        width: 350px;
        margin-left: 5px;
    }
}

