* {
    box-sizing: border-box;
   }
   *:before,
   *:after {
    box-sizing: border-box;
   }

html,body {
    position:relative;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    overflow: auto;
}

.main-footer {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background: black;
    color: #fff;
    padding: 20px;
    position: absolute;
    width: 100%;
    margin-bottom: -50;
    overflow: hidden;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.linkedin {
    margin-right: 5px;
}

.github {
    margin-right: 5px;
}

.linkedin:hover {
    opacity: .9;
}
.github:hover {
    opacity: .9;

}